<!-- <div class="panel">
  <div class="panel-heading border">
    <ol class="breadcrumb mb0 no-padding">
      <li>
        <a href=javascript:;>Home</a>
      </li>
      <li>
        <a href=javascript:;>Tables</a>
      </li>
      <li class=active>Data tables</li>
    </ol>
  </div>
  <div class="panel-body">
    <table class="table table-bordered table-striped datatable editable-datatable responsive align-middle bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Position</th>
          <th>Office</th>
          <th>Age</th>
          <th>Start Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->

<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="widget bg-primary">
      <div class="widget-bg-icon">
        <i class="fa fa-bookmark-o"></i>
      </div>
      <div class="widget-details">
        <span class="block h4 mt0 mb5">4,894K</span>
        <span>Parks and recreation</span>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="widget bg-info">
      <div class="widget-bg-icon">
        <i class="fa fa-tag"></i>
      </div>
      <div class="widget-details">
        <span class="block h4 mt0 mb5">$785</span>
        <span>Sales</span>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="widget bg-info">
      <div class="widget-bg-icon">
        <i class="fa fa-tag"></i>
      </div>
      <div class="widget-details">
        <span class="block h4 mt0 mb5">$785</span>
        <span>Sales</span>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="widget bg-info">
      <div class="widget-bg-icon">
        <i class="fa fa-tag"></i>
      </div>
      <div class="widget-details">
        <span class="block h4 mt0 mb5">$785</span>
        <span>Sales</span>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="widget bg-info">
      <div class="widget-bg-icon">
        <i class="fa fa-tag"></i>
      </div>
      <div class="widget-details">
        <span class="block h4 mt0 mb5">$785</span>
        <span>Sales</span>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="widget bg-info">
      <div class="widget-bg-icon">
        <i class="fa fa-tag"></i>
      </div>
      <div class="widget-details">
        <span class="block h4 mt0 mb5">$785</span>
        <span>Sales</span>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="widget bg-info">
      <div class="widget-bg-icon">
        <i class="fa fa-tag"></i>
      </div>
      <div class="widget-details">
        <span class="block h4 mt0 mb5">$785</span>
        <span>Sales</span>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="widget bg-info">
      <div class="widget-bg-icon">
        <i class="fa fa-tag"></i>
      </div>
      <div class="widget-details">
        <span class="block h4 mt0 mb5">$785</span>
        <span>Sales</span>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="widget bg-info">
      <div class="widget-bg-icon">
        <i class="fa fa-tag"></i>
      </div>
      <div class="widget-details">
        <span class="block h4 mt0 mb5">$785</span>
        <span>Sales</span>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="widget bg-info">
      <div class="widget-bg-icon">
        <i class="fa fa-tag"></i>
      </div>
      <div class="widget-details">
        <span class="block h4 mt0 mb5">$785</span>
        <span>Sales</span>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="widget bg-info">
      <div class="widget-bg-icon">
        <i class="fa fa-tag"></i>
      </div>
      <div class="widget-details">
        <span class="block h4 mt0 mb5">$785</span>
        <span>Sales</span>
      </div>
    </div>
  </div>

</div>


<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="widget bg-info">
      <div class="widget-bg-icon">
        <i class="fa fa-tag"></i>
      </div>
      <div class="widget-details">
        <span class="block h4 mt0 mb5">Nursery</span>
        <span>Kamal Khanal</span>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="widget bg-info">
      <div class="widget-bg-icon">
        <i class="fa fa-tag"></i>
      </div>
      <div class="widget-details">
        <span class="block h4 mt0 mb5">L.K.G</span>
        <span>Nishesh Wyanju</span>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="widget bg-info">
      <div class="widget-bg-icon">
        <i class="fa fa-tag"></i>
      </div>
      <div class="widget-details">
        <span class="block h4 mt0 mb5">U.K.G</span>
        <span>Puzan Shakya</span>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="widget bg-info">
      <div class="widget-bg-icon">
        <i class="fa fa-tag"></i>
      </div>
      <div class="widget-details">
        <span class="block h4 mt0 mb5">Class One</span>
        <span>Sumit Duwal</span>
      </div>