<!-- <div class="col-sm-6">

  <div class="box-tab">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">Home</a> </li>
      <li><a href="#profile" data-toggle="tab">Profile</a> </li>
      <li><a href="#about" data-toggle="tab">About</a> </li>
      <li><a href="#contacts" data-toggle="tab">Contacts</a> </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active in" id="home">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes,
          nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum. Nullam quis risus eget urna mollis ornare
          vel eu leo. Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere
          velit aliquet.</p>
      </div>
      <div class="tab-pane" id="profile">
        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo
          quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
          Etiam porta sem malesuada magna mollis euismod.</p>
      </div>
      <div class="tab-pane" id="about">
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Etiam porta sem malesuada magna mollis euismod. Donec
          ullamcorper nulla non metus auctor fringilla. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
          vestibulum.</p>
      </div>
      <div class="tab-pane" id="contacts">
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur. Maecenas sed
          diam eget risus varius blandit sit amet non magna.</p>
      </div>
    </div>
  </div>
</div> -->

<div id="messagebox-modal" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width:1000px">
    <div class="modal-content">
      <div class="modal-body">

        <div class="col-sm-5">
          Student Profile
          <div>
            <img src="..\assets\images\face3.0306ffff.jpg" class="center" /><br/>
            <p style="text-align:justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis repellendus voluptate dolor earum rerum ducimus
              totam quaerat nesciunt facilis ad? Iste, enim quis eaque nemo labore ipsam accusamus dolorem soluta.</p>
            <p style="text-align:justify">Blanditiis odit, nesciunt iste aperiam mollitia velit inventore deserunt maiores repellendus alias beatae quod
              excepturi repellat fugit eos obcaecati dignissimos harum necessitatibus quasi deleniti? Eos ipsam nulla odio
              hic eius?</p>
            <p style="text-align:justify">Dicta adipisci cum natus quos, saepe voluptates distinctio nesciunt earum, voluptate ad quibusdam officia hic
              ex beatae laudantium! Magni saepe reprehenderit explicabo asperiores repudiandae facilis culpa quos obcaecati,
              soluta facere?</p>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="box-tab">
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#home">Parents Info</a></li>
              <!-- <li><a data-toggle="tab" href="#menu1"></a></li> -->
              <li><a data-toggle="tab" href="#menu2">Account</a></li>
              <li><a data-toggle="tab" href="#menu3">Report</a></li>
            </ul>

            <div class="tab-content">
              <div id="home" class="tab-pane fade in active">
                <h3>HOME</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua.
                </p>
              </div>
              <!-- <div id="menu1" class="tab-pane fade">
                    <h3>Menu 1</h3>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </div> -->
              <div id="menu2" class="tab-pane fade">
                <h3>Menu 2</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                  aperiam.
                </p>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                  aperiam.
                </p>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                  aperiam.
                </p>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                  aperiam.
                </p>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                  aperiam.
                </p>
              </div>
              <div id="menu3" class="tab-pane fade">
                <h3>Menu 3</h3>
                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
              </div>
              <div id="menu3" class="tab-pane fade">
                <h3>Menu 3</h3>
                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
              </div>

            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button id="btn-confirm" type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="panel">
  <!-- <div class="panel-heading border"> -->
  <!-- <ol class="breadcrumb mb0 no-padding">
      <li>
        <a href="javascript:;">Home</a>
      </li>
      <li>
        <a href="javascript:;">Tables</a>
      </li>
      <li class="active">Data tables</li>
    </ol> -->
  <!-- </div> -->
  <div class="panel-body">
    <button class="btn btn-xs btn-success pull-right" (click)="showAddForm()">
      <i class="fa fa-plus"></i>
    </button>
    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline no-footer">
      <div class="row">
        <div class="col-sm-6">
          <div class="dataTables_length" id="DataTables_Table_0_length">
            <label>Show
              <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-control">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select> entries</label>
          </div>
          <!-- <div class="toolbar">
            <a id="new" href="javascript:;" class="btn btn-info mb15 ml15">Add new row</a>
          </div> -->
        </div>
        <div class="col-sm-6">
          <div id="DataTables_Table_0_filter" class="dataTables_filter">
            <label>
              <input class="form-control" placeholder="Search" aria-controls="DataTables_Table_0" type="search">
            </label>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped datatable editable-datatable responsive align-middle bordered dataTable no-footer"
          id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
          <thead>
            <tr role="row">
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 245px;" aria-label="StudentId: activate to sort column ascending">Student-Id
              </th>
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 127px;" aria-label="Name: activate to sort column ascending">Name
              </th>
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 56px;" aria-label="mail: activate to sort column ascending">Email
              </th>
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 108px;" aria-label="Contact: activate to sort column ascending">Contact-no
              </th>
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 108px;" aria-label="City: activate to sort column ascending">City
              </th>
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 108px;" aria-label="Gender: activate to sort column ascending">Gender
              </th>
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 108px;" aria-label="Class: activate to sort column ascending">Class
              </th>
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 108px;" aria-label="Parent: activate to sort column ascending">Parents
              </th>
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 108px;" aria-label="Status: activate to sort column ascending">Status
              </th>
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 108px;" aria-label="Action: activate to sort column ascending">Action
              </th>
            </tr>
          </thead>
          <tbody>
            <tr role="row" class="odd" *ngFor="let s of students | paginate: { itemsPerPage: limit, currentPage: pageNo,totalItems: totalItems}">
              <td>{{s.studentId}}</td>
              <td>{{s.firstName}} {{s.lastName}}</td>
              <td>{{s.email}}</td>
              <td>{{s.contactNo}}</td>
              <!-- <td>{{s.street}}</td> -->
              <td>{{s.city}}</td>
              <td>{{s.gender}}</td>
              <td>{{s._class}}</td>
              <td>{{s.parentFirstName}} {{s.parentLastName}}</td>
              <td>{{s.status}}</td>
              <td>
                <Button class="btn btn-xs btn-primary" (click)="showEditForm(s)"><span class="fa fa-pencil"></span></Button>
                <Button class="btn btn-xs btn-danger" (click)="deleteStudent(s)"><span class="fa fa-trash"></span></Button>
                <Button class="btn btn-xs btn-primary" (click)="modal()"><span class="fa fa-user"></span></Button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="datatable-bottom">
        <div class="spinner" *ngIf="load">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
        <!-- <div class="pull-left">
          <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 4 of 4 entries</div>
        </div> -->
        <div class="pull-right">
          <div class="dataTables_paginate paging_bootstrap" id="DataTables_Table_0_paginate">
            <pagination-controls class="pagination pagination-sm clearfix block" (pageChange)="pageChange($event)"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="panel mb25">



  <div class="panel-body">
    <div class="row no-margin">
      <div class="col-lg-12">
        <div class="panel-heading border pull-right">
         
          <button class="btn btn-success btn-xs" (click)="showAddForm()"><i class="fa fa-plus"></i></button>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Name</th>
              <th>Email</th>
              <th>ContactNo</th>
             
              <th>city</th>
              <th>Gender</th>
              <th>Class</th>
              <th>Parent</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let s of students">
              <td>{{s.studentId}}</td>
              <td>{{s.firstName}} {{s.lastName}}</td>
              <td>{{s.email}}</td>
              <td>{{s.contactNo}}</td>
             
              <td>{{s.city}}</td>
              <td>{{s.gender}}</td>

              <td>{{s._class}}</td>
              <td>{{s.parentFirstName}} {{s.parentLastName}}</td>
              <td>{{s.status}}</td>
              <td>
                <Button class="btn btn-xs btn-primary" (click)="showEditForm(s)"><span class="fa fa-pencil"></span></Button>
                <Button class="btn btn-xs btn-danger" (click)="deleteStudent(s)"><span class="fa fa-trash"></span></Button>
                <Button class="btn btn-xs btn-primary" (click)="modal()"><span class="fa fa-user"></span></Button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> -->

<div class="modal bs-modal-sm" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Add Student</h4>
      </div>
      <div class="modal-body">

        <div class="modal-body scrollable" style="max-height: 400px;">
          <form novalidate (ngSubmit)="onSubmit()" #f="ngForm">

            <div class="form-group">
              <label>First Name</label>
              <input type="text" [ngClass]="{
                                      'error': firstName.invalid && (firstName.dirty || firstName.touched),
                                      'valid': firstName.valid && (firstName.dirty || firstName.touched)}" class="form-control error"
                name="firstName" [(ngModel)]="model.firstName" required #firstName="ngModel">
              <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
                <label *ngIf="firstName.errors.required" class="error">First Name is required.</label>
              </div>
            </div>

            <div class="form-group">
              <label>Last Name</label>
              <input type="text" [ngClass]="{
                                        'error': lastName.invalid && (lastName.dirty || lastName.touched),
                                        'valid': lastName.valid && (lastName.dirty || lastName.touched)}" class="form-control error"
                name="lastName" [(ngModel)]="model.lastName" required #lastName="ngModel">
              <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
                <label *ngIf="lastName.errors.required" class="error">Last Name is required.</label>
              </div>
            </div>

            <div class="form-group">
              <label>Contact No:</label>
              <input type="text" [ngClass]="{
                                      'error': contactNo.invalid && (contactNo.dirty || contactNo.touched),
                                      'valid': contactNo.valid && (contactNo.dirty || contactNo.touched)}" class="form-control"
                name="contactNo" [(ngModel)]="model.contactNo" required #contactNo="ngModel">
              <div *ngIf="contactNo.errors && (contactNo.dirty || contactNo.touched)">
                <label *ngIf="contactNo.errors.required" class="error">Contact No is required.</label>
              </div>
            </div>

            <div class="form-group">
              <label>Email-Id</label>
              <input type="text" [ngClass]="{
                                        'error': email.invalid && (email.dirty || email.touched),
                                        'valid': email.valid && (email.dirty || email.touched)}" class="form-control" name="email"
                [(ngModel)]="model.email" required #email="ngModel">
              <div *ngIf="email.errors && (email.dirty || email.touched)">
                <label *ngIf="email.errors.required" class="error">Mail is required.</label>
              </div>
            </div>

            <div class="form-group">
              <label>Gender
                <select class="form-control form-control-sm" name="genderId" [(ngModel)]="model.genderId">
                          <option value="1">Male</option>
                          <option value="2">Female</option>
                          <option value="3">Other</option>
                        </select>
 
                      </label>
            </div>

            <div class="form-group">
              <label>Class
                          <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-control">
                            <option value="1">--Select Class--</option>
                            <option *ngFor="let c of students" value="{{c}}">{{c._classId}}</option>
                          </select>
                        </label>
            </div>

            <div class="form-group">
              <label>Parent
              <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-control">
                <option value="-1">--Select Parent--</option>
                <option *ngFor="let p of students" value="{{p}}">{{p.parentId}} </option>
              </select>
            </label>
            </div>

            <!-- <div class="form-group">
              <label>Parent
              <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-control">
                <option value="-1">--Select Parents Last Name--</option>
                <option *ngFor="let p of students" value="{{p}}">{{p.parentlaststName}} </option>
              </select>
            </label>
            </div> -->

            <div class="form-group">
              <label>Status
                            <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-control">
                              <option value="-1">--Select Status--</option>
                              <option *ngFor="let s of students" value="{{s}}">{{s.statusId}}</option>
                            </select>
                          </label>
            </div>

            <div class="form-group">
              <label>City</label>
              <input type="text" [ngClass]="{
                                          'error': city.invalid && (city.dirty || city.touched),
                                          'valid': city.valid && (city.dirty || city.touched)}" class="form-control" name="city"
                [(ngModel)]="model.city" required #city="ngModel">
              <div *ngIf="city.errors && (city.dirty || city.touched)">
                <label *ngIf="city.errors.required" class="error">Mail is required.</label>
              </div>
            </div>

            <div class="form-group">
              <label>Street</label>
              <input type="text" [ngClass]="{
                                            'error': street.invalid && (street.dirty || street.touched),
                                            'valid': street.valid && (street.dirty || street.touched)}" class="form-control"
                name="street" [(ngModel)]="model.street" required #street="ngModel">
              <div *ngIf="street.errors && (street.dirty || street.touched)">
                <label *ngIf="street.errors.required" class="error">Mail is required.</label>
              </div>
            </div>

            <div class="form-group">
              <label>UserName</label>
              <input type="text" [ngClass]="{
                                            'error': username.invalid && (username.dirty || username.touched),
                                            'valid': username.valid && (username.dirty || username.touched)}" class="form-control"
                name="username" [(ngModel)]="model.username" required #username="ngModel">
              <div *ngIf="username.errors && (username.dirty || username.touched)">
                <label *ngIf="username.errors.required" class="error">Mail is required.</label>
              </div>
            </div>

            <div class="modal-footer no-border">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>