<div class="panel">
  <div class="panel-heading border">
    <ol class="breadcrumb mb0 no-padding">
      <li>
        <a href="javascript:;">Home</a>
      </li>
      <li>
        <a href="javascript:;">Tables</a>
      </li>
      <li class="active">Data tables</li>
    </ol>
  </div>
  <div class="panel-body">
    <!-- <button class="btn btn-xs btn-success pull-right" (click)="showAddForm()">
      <i class="fa fa-plus"></i>
    </button> -->
    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline no-footer">
      <div class="row">
        <div class="col-sm-6">
          <div class="dataTables_length" id="DataTables_Table_0_length">
            <label>Show
              <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-control">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select> entries</label>
          </div>
          <div class="toolbar">
            <a id="new" href="javascript:;" class="btn btn-success mb15 ml15" (click)="showAddForm()"> Add new teacher</a>
          </div>
        </div>
        <div class="col-sm-6">
          <div id="DataTables_Table_0_filter" class="dataTables_filter">
            <label>
              <input class="form-control" placeholder="Search" aria-controls="DataTables_Table_0" type="search">
            </label>
          </div>
        </div>
      </div>
      <div *ngIf="load==false && noData == true">
        <p style="text-align: center;">There are no data.</p>
      </div>
      <div *ngIf="load==false && noData == false" class="table-responsive">
        <table class="table table-bordered table-striped datatable editable-datatable responsive align-middle bordered dataTable no-footer"
          id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
          <thead>
            <tr role="row">
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 245px;" aria-label="Position: activate to sort column ascending">Name
              </th>
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 127px;" aria-label="Office: activate to sort column ascending">Email
              </th>
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 56px;" aria-label="Age: activate to sort column ascending">Address
              </th>
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 108px;" aria-label="Start Date: activate to sort column ascending">Contact no
              </th>
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 108px;" aria-label="Start Date: activate to sort column ascending">Username
              </th>
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 108px;" aria-label="Start Date: activate to sort column ascending">Social link
              </th>
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 108px;" aria-label="Start Date: activate to sort column ascending">Gender
              </th>
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 108px;" aria-label="Start Date: activate to sort column ascending">Action
              </th>
            </tr>
          </thead>
          <tbody>
            <tr role="row" class="odd" *ngFor="let t of teachers | paginate: { itemsPerPage: limit, currentPage: pageNo,totalItems: totalItems }">
              <td>{{t.firstName}} {{t.lastName}}</td>
              <td>{{t.email}}</td>
              <td>{{t.street}}, {{t.city}}</td>
              <td>{{t.contactNo}}</td>
              <td>{{t.username}}</td>
              <td>{{t.socialLink}}</td>
              <td>{{t.gender}}</td>
              <td>
                <button class="btn btn-xs btn-danger" (click)="deleteTeacher(t)">
                  <i class="fa fa-trash"></i>
                </button>
                <button class="btn btn-xs btn-primary" (click)="showEditForm(t)">
                  <i class="fa fa-edit"></i>
                </button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="datatable-bottom">
        <div class="spinner" *ngIf="load">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
        <!-- <div class="pull-left">
          <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 4 of 4 entries</div>
        </div> -->
        <div class="pull-right">
          <div class="dataTables_paginate paging_bootstrap" id="DataTables_Table_0_paginate">
            <pagination-controls class="pagination pagination-sm clearfix block" (pageChange)="pageChange($event)"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal bs-modal-sm" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">{{formTitle}}</h4>
      </div>
      <div class="modal-body scrollable" style="max-height: 400px;">
        <!-- form starts here -->
        <form novalidate (ngSubmit)="onSubmit()" #f="ngForm">

          <div class="form-group">
            <label>First Name</label>
            <input type="text" [ngClass]="{
              'error': firstName.invalid && (firstName.dirty || firstName.touched),
              'valid': firstName.valid && (firstName.dirty || firstName.touched)}" class="form-control error" name="firstName"
              [(ngModel)]="model.firstName" required #firstName="ngModel">
            <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
              <label *ngIf="firstName.errors.required" class="error">This field is required.</label>
            </div>
          </div>

          <div class="form-group">
            <label>Last Name</label>
            <input type="text" [ngClass]="{
              'error': lastName.invalid && (lastName.dirty || lastName.touched),
              'valid': lastName.valid && (lastName.dirty || lastName.touched)}" class="form-control" name="lastName" [(ngModel)]="model.lastName"
              required #lastName="ngModel">
            <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
              <label *ngIf="lastName.errors.required" class="error">This field is required.</label>
            </div>
          </div>

          <div class="form-group">
            <label>Gender</label>
            <select class="form-control form-control-sm" name="genderId" [(ngModel)]="model.genderId">
              <option value="1">Male</option>
              <option value="2">Female</option>
              <option value="3">Other</option>
            </select>
          </div>

          <div class="form-group">
            <label>Phone</label>
            <input type="text" [ngClass]="{
              'error': contactNo.invalid && (contactNo.dirty || contactNo.touched),
              'valid': contactNo.valid && (contactNo.dirty || contactNo.touched)}" class="form-control" name="contactNo"
              [(ngModel)]="model.contactNo" required #contactNo="ngModel">
            <div *ngIf="contactNo.errors && (contactNo.dirty || contactNo.touched)">
              <label *ngIf="contactNo.errors.required" class="error">This field is required.</label>
            </div>
          </div>

          <div class="form-group">
            <label>Username</label>
            <input type="text" [ngClass]="{
              'error': username.invalid && (username.dirty || username.touched),
              'valid': username.valid && (username.dirty || username.touched)}" class="form-control" name="username" [(ngModel)]="model.username"
              required #username="ngModel">
            <div *ngIf="username.errors && (username.dirty || username.touched)">
              <label *ngIf="username.errors.required" class="error">This field is required.</label>
            </div>
          </div>

          <div class="form-group">
            <label>Email</label>
            <input type="email" [ngClass]="{
              'error': email.invalid && (email.dirty || email.touched),
              'valid': email.valid && (email.dirty || email.touched)}" class="form-control" name="email" [(ngModel)]="model.email"
              required #email="ngModel">
            <div *ngIf="email.errors && (email.dirty || email.touched)">
              <label *ngIf="email.errors.required" class="error">This field is required.</label>
            </div>
          </div>

          <div class="form-group">
            <label>socialLink</label>
            <input type="text" [ngClass]="{
              'error': socialLink.invalid && (socialLink.dirty || socialLink.touched),
              'valid': socialLink.valid && (socialLink.dirty || socialLink.touched)}" class="form-control" name="socialLink"
              [(ngModel)]="model.socialLink" required #socialLink="ngModel">
            <div *ngIf="socialLink.errors && (socialLink.dirty || socialLink.touched)">
              <label *ngIf="socialLink.errors.required" class="error">This field is required.</label>
            </div>
          </div>

          <div class="form-group">
            <label>City</label>
            <input type="city" [ngClass]="{
              'error': city.invalid && (city.dirty || city.touched),
              'valid': city.valid && (city.dirty || city.touched)}" class="form-control" name="city" [(ngModel)]="model.city"
              required #city="ngModel">
            <div *ngIf="city.errors && (city.dirty || city.touched)">
              <label *ngIf="city.errors.required" class="error">This field is required.</label>
            </div>
          </div>


          <div class="form-group">
            <label>Street</label>
            <input type="street" [ngClass]="{
              'error': street.invalid && (street.dirty || street.touched),
              'valid': street.valid && (street.dirty || street.touched)}" class="form-control" name="street" [(ngModel)]="model.street"
              required #street="ngModel">
            <div *ngIf="street.errors && (street.dirty || street.touched)">
              <label *ngIf="street.errors.required" class="error">This field is required.</label>
            </div>
          </div>

          <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Submit
          </button>

          <pre>{{f.value | json}}</pre>
        </form>

      </div>
      <div class="modal-footer no-border">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send</button>
      </div>
    </div>
  </div>
</div>